/* fonts */
.open-sans-normal> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
/* shared-style */
.text-primary{
  color: #FD6E0A;
}
.dark-3{
color: #757575;
}
.dark-1{
  color: #181818;
}

.dark-2{
  color: #474747;
}
.secondary-bg{
  background-color: #FFF8F3;
}
.btn-primary{
 background-color: #FD6E0A;
 color: white;
 font-weight: 700px;
 font-size: 20px;
 padding: 18px 35px;
 border-radius: 5px;
 border: none;

}
.text-center{
  text-align: center;
}
.section-tittle{
font-size:35px ;
font-weight: bold;


}
.section-description{
font-size: 18px;
}
/*header */
.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav styles */
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
font-weight: bolder;
font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
  
}
nav ul li{
  list-style: none;
   margin-right: 50px;
}
nav ul li a{
  text-decoration: none;
  
  font-size: 20px;
}
/* Banner styles*/
.banner{
  display: flex;
  justify-content:space-between ;
  margin: 0 35px 0 200px;

}
.banner-container{
  
 max-width: 580px;
}


.banner-pic{
 width: 580px;
}
.banner-getins {
  font-weight:600px;
  font-size: 45px;

}
.banner-tittle{
  font-size: 85px;
  font-weight: bold;
}
/*main section*/
.main-styles{
  max-width: 1140px;
  margin: 0 auto;

}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about section*/
.about{
  border-radius: 10px ;
  
  padding: 130px 150px;
  text-align: center;
  margin-top: 100px;

}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-decription{

  font-weight: bold;
  font-size: 20px;
}/*skills-container*/
.skills-container{
  gap: 20px;
display: flex;
justify-content: space-around;
}
.skill{
  border-radius: 5px;
padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/*resume styles*/
.resume-container{
  display: flex;
  gap: 24px;
  
}
.resume-column-title{
font-size: 30px;
font-weight: bold;
}
.experience-sub-title{
font-size: 20px ;
font-weight: 600px;
margin-top: 30px 47px;

}

.secion-tittle {
  font-weight: bold;
  font-size:30px;

}
.cv-button{
  margin: 50px;
}
/*footer styles*/

footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
  height: 64px;
  
  background-color: rgba(255, 255, 255, 1);
  padding: 7px 15px;
  margin-bottom: 10px;
  display: block ;
  width: 100%;}
 

